.MovieListPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.Title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin: 30px 0;
}

.MovieListContainer {
    margin: 0 5vw;
    display: flex;
    justify-content: space-around !important;
}

.MovieContentContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 18%;
    text-align: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.PosterContainer {
    height: 100%;
}

.Poster {
    width: 100%;
    object-position: -20% 0;
    object-fit: cover !important;
}

.MovieType {
    font-size: 11px;
    padding: 1px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.MovieTitle {
    height: 6vh;
    margin-bottom: 2vh;
    width: 100%;
    font-weight: 500;
    font-size: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.MovieYear {
    font-size: 14px;
}

.DetailButton {
    width: 100%;
    background-color: #080E2C;
    color: #ECF4E1;
    padding: 10px 0;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;
    font-weight: 300;
}

.DetailButton:active {
    outline: none;
}

.DetailButton:hover {
    background-color: #44D6E9;
}


.PaginationGroup {
    margin-top: 50px;
    margin-bottom: 10px;
}

.InputSearch {
    margin-right: 3.5px;
    width: 55px;
}

.InputPage {
    text-align: center !important;
}

.Warning {
    margin-top: 10px;
    margin-bottom: 30px;
    color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 1024px) {
    .MovieTitle {
        height: 7vh;
    }
}

@media only screen and (max-width: 768px) {
    .Title {
        font-size: 25px;
    }

    .MovieTitle {
        height: 7vh;
    }

    .MovieContentContainer {
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .Title {
        font-size: 20px;
    }

    .MovieTitle {
        height: 6vh;
    }

    .DetailButton {
        font-size: 12px;
    }

    .MovieContentContainer {
        width: 45%;
    }
}
