.Loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.TitleLine {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.Title {
    font-size: 30px;
    display: flex;
    font-weight: 500;
    margin-right: 30px;
}

.MovieType {
    font-size: 11px;
    padding: 1px 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.MovieDetailContentContainerColumn {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 50px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.MovieDetailContentContainerRow {
    display: grid;
    grid-template-columns: 30% auto;
}

.MovieDetailContainer {
    margin: 0 5vw;
}

.Poster {
    width: 100%;
}

.MovieDetailContent {
    margin-left: 10%;
}

.PlotContainer {
    display: flex;
}

.Plot {
    text-align: justify;
    margin-bottom: 20px;
}

.DetailLine {
    display: grid;
    grid-template-columns: 100px auto;
}

.Detail {
    width: 100px;
    display: flex;
    align-content: flex-start;
    font-weight: 500;
}

.DetailContent {
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.Ratings {
    display: flex;
    flex-direction: row;
}

.Source{
    margin-right: 3px;
}

.MiniImage {
    margin-right: 5px;
}

.ButtonBack {
    background-color: crimson;
    color: #ECF4E1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    transition-duration: 0.2s;
    font-weight: 300;
}

.ButtonBack:active {
    outline: none;
}

.ButtonBack:hover {
    background-color: #44D6E9;
}


@media only screen and (max-width: 500px) {
    .TitleLine {
        flex-direction: column;
        align-items: center;
        line-height: normal;
    }

    .Title {
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
    }

    .MovieDetailContent {
        margin-left: 0;
    }

    .MovieDetailContentContainerRow {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        font-size: 10px;
        line-height: 1.2;
    }

    .ButtonBack {
        font-size: 10px;
        padding: 7px 15px;
    }

    .MiniImage {
        height: 10px;
    }
}

